.Cards {
  display: flex;
  flex-direction: row; /* Ensure the cards are displayed in a row */
  flex-wrap: wrap; /* Allow the cards to wrap onto the next line on smaller screens */
  justify-content: space-between; /* Space between the cards */
  width: 100%; /* Adjust width as needed */

  margin-right: 15px;
}

.Cards .card {
  flex: 1 1 calc(25% - 20px); /* Each card takes up to 25% width minus margin */
  margin: 10px; /* Margin around each card */
  box-sizing: border-box;
}

img.card-img-top {
  width: 100%;
  height: 100%;
  align-items: center;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .Cards .card {
    flex: 1 1 calc(33.333% - 20px); /* 3 cards per row */
  }
}

@media (max-width: 900px) {
  .Cards .card {
    flex: 1 1 calc(50% - 20px); /* 2 cards per row */
  }
}

@media (max-width: 600px) {
  .Cards .card {
    flex: 1 1 calc(100% - 20px); /* 1 card per row */
  }
}
